In [229]:
import pandas as pd
import numpy as np

In [230]:
df = pd.read_csv('riyad_coffee_shops_clean.csv')

In [231]:
df.head()

,Unnamed: 0,shop_name,rating,numbers_of_rating,price,shop_type,key_words,address,reviews
0,0,Elixir Bunn Coffee,4.3,218,0,cafe,none,"King Abdullah Rd, حي الحمراء، Riyadh 13215",['Amazing new branch for my favorite coffee ho...
1,1,Chamonix Cafe,4.0,563,3,coffee shop,"Late-night food, Breakfast, Outdoor seating","9259 Wadi Al Awsat, Al nbsp;2430, Riyadh",['Its really romantic and lovely place with go...
2,2,dr.CAFE COFFEE,4.1,1571,2,coffee shop,"Cosy, Casual, Vegetarian options","As Sulimaniyah, Khurais Road Abi Al Arab Stree...","[""Sandwich wasn't tasty and it was expensive. ..."
3,3,The Shaky,3.9,52,0,coffee shop,"Cosy, Casual, Groups",لوكاليزر مول بوابة رقم 7 طريق الأمير محمد بن ع...,"['Nice place', ""It's delicious you can build y..."
4,4,قرمز كافيه - قهوة مختصة,4.1,956,2,coffee shop,"Cosy, Casual, Groups",2659 Dammam Branch Road Al Yarmuk Riyadh 13243...,['This coffee shop is a two story shop with a ...

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         198 non-null    int64
 1   shop_name          198 non-null    object
 2   rating             195 non-null    float64
 3   numbers_of_rating  198 non-null    int64
 4   price              198 non-null    int64
 5   shop_type          198 non-null    object
 6   key_words          198 non-null    object
 7   address            198 non-null    object
 8   reviews            198 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.0+ KB

In [233]:
df = df.drop(['Unnamed: 0', 'address'], axis = 1)

In [234]:
df.head()

,shop_name,rating,numbers_of_rating,price,shop_type,key_words,reviews
0,Elixir Bunn Coffee,4.3,218,0,cafe,none,['Amazing new branch for my favorite coffee ho...
1,Chamonix Cafe,4.0,563,3,coffee shop,"Late-night food, Breakfast, Outdoor seating",['Its really romantic and lovely place with go...
2,dr.CAFE COFFEE,4.1,1571,2,coffee shop,"Cosy, Casual, Vegetarian options","[""Sandwich wasn't tasty and it was expensive. ..."
3,The Shaky,3.9,52,0,coffee shop,"Cosy, Casual, Groups","['Nice place', ""It's delicious you can build y..."
4,قرمز كافيه - قهوة مختصة,4.1,956,2,coffee shop,"Cosy, Casual, Groups",['This coffee shop is a two story shop with a ...

In [235]:
v=df['numbers_of_rating']
R=df['rating']
C=df['rating'].mean()
m=df['numbers_of_rating'].quantile(0.70)

In [236]:
df['weighted_average']=((R*v)+ (C*m))/(v+m)

In [237]:
df.head()

,shop_name,rating,numbers_of_rating,price,shop_type,key_words,reviews,weighted_average
0,Elixir Bunn Coffee,4.3,218,0,cafe,none,['Amazing new branch for my favorite coffee ho...,4.075983
1,Chamonix Cafe,4.0,563,3,coffee shop,"Late-night food, Breakfast, Outdoor seating",['Its really romantic and lovely place with go...,3.998390
2,dr.CAFE COFFEE,4.1,1571,2,coffee shop,"Cosy, Casual, Vegetarian options","[""Sandwich wasn't tasty and it was expensive. ...",4.070909
3,The Shaky,3.9,52,0,coffee shop,"Cosy, Casual, Groups","['Nice place', ""It's delicious you can build y...",3.989397
4,قرمز كافيه - قهوة مختصة,4.1,956,2,coffee shop,"Cosy, Casual, Groups",['This coffee shop is a two story shop with a ...,4.059541

In [238]:
df_sorted = df.sort_values('weighted_average', ascending = False)
df_sorted.head()

,shop_name,rating,numbers_of_rating,price,shop_type,key_words,reviews,weighted_average
162,Java Time,4.4,1812,2,coffee shop,"Late-night food, Outdoor seating, Cosy","['Excellent cafe for coffee, tea and desserts....",4.297526
144,Dip Lab cafe - for Families,4.5,809,2,coffee shop,"Cosy, Casual, Good for kids",['The greatest sweet I have had ever eaten bef...,4.282189
179,Java Time,4.4,1388,2,coffee shop,"Breakfast, Cosy, Casual",['I like the enviroment more than the coffee w...,4.275863
32,Camel Step Coffee Roasters,4.3,5568,2,coffee shop,none,['Flat white was so good! They have lactose fr...,4.269735
6,Brew Crew,4.4,1186,2,coffee shop,"Cosy, Casual, Groups",['Such a beautiful place to have a cup of coff...,4.261961

In [239]:
## Recomendation based on weighted average

from sklearn.preprocessing import MinMaxScaler

scaling=MinMaxScaler()
scaled_df=scaling.fit_transform(df[['weighted_average']])
normalized_df=pd.DataFrame(scaled_df,columns=['weighted_average'])
normalized_df.head()

   weighted_average
0          0.607067
1          0.469447
2          0.598068
3          0.453497
4          0.577904

In [240]:
df[['normalized_weight_average']]= normalized_df
df.head()

,shop_name,rating,numbers_of_rating,price,shop_type,key_words,reviews,weighted_average,normalized_weight_average
0,Elixir Bunn Coffee,4.3,218,0,cafe,none,['Amazing new branch for my favorite coffee ho...,4.075983,0.607067
1,Chamonix Cafe,4.0,563,3,coffee shop,"Late-night food, Breakfast, Outdoor seating",['Its really romantic and lovely place with go...,3.998390,0.469447
2,dr.CAFE COFFEE,4.1,1571,2,coffee shop,"Cosy, Casual, Vegetarian options","[""Sandwich wasn't tasty and it was expensive. ...",4.070909,0.598068
3,The Shaky,3.9,52,0,coffee shop,"Cosy, Casual, Groups","['Nice place', ""It's delicious you can build y...",3.989397,0.453497
4,قرمز كافيه - قهوة مختصة,4.1,956,2,coffee shop,"Cosy, Casual, Groups",['This coffee shop is a two story shop with a ...,4.059541,0.577904

In [241]:
######Content Based Recommendation#######

from sklearn.feature_extraction.text import TfidfVectorizer

# Using Abhishek Thakur's arguments for TF-IDF
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')
tfv_matrix = tfv.fit_transform(df['reviews'])

In [242]:
from sklearn.metrics.pairwise import sigmoid_kernel


sig = sigmoid_kernel(tfv_matrix, tfv_matrix)
indices = pd.Series(df.index, index=df['shop_name']).drop_duplicates()

In [243]:
def give_rec(title, sig=sig):
    # Get the index corresponding to original_title
    idx = indices[title]

    
    ## got the pairwise simularity score
    sig_scores = list(enumerate(sig[idx]))

   ## sorted the coffee shop_name
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    ## got the first ten
    sig_scores = sig_scores[1:11]

    
    final_indices = [i[0] for i in sig_scores]

    
    return df['shop_name'].iloc[final_indices]

In [244]:
give_rec('The Shaky')

151                                           So Souffle
168    Gloria Jeans Coffees - king fahed Road - Al Anoud
67                                             مقهى عيوش
120                                       dr.CAFE COFFEE
173                                    عطارة ضوء القماري
192                                       Wayne's Coffee
131                                            STARBUCKS
51                                           دانكن دونتس
31                                  Raae Alkaif Roasters
41                                       The Coffee Shop
Name: shop_name, dtype: object

In [245]:
### Nearest Neighbor filtering

In [246]:
df = df.reset_index()

df['New_ID'] = df.index

In [247]:
popularity_threshold = 100
rating_popular_shops = df.query('numbers_of_rating >= @popularity_threshold')
rating_popular_shops.head()

,index,shop_name,rating,numbers_of_rating,price,shop_type,key_words,reviews,weighted_average,normalized_weight_average,New_ID
0,0,Elixir Bunn Coffee,4.3,218,0,cafe,none,['Amazing new branch for my favorite coffee ho...,4.075983,0.607067,0
1,1,Chamonix Cafe,4.0,563,3,coffee shop,"Late-night food, Breakfast, Outdoor seating",['Its really romantic and lovely place with go...,3.998390,0.469447,1
2,2,dr.CAFE COFFEE,4.1,1571,2,coffee shop,"Cosy, Casual, Vegetarian options","[""Sandwich wasn't tasty and it was expensive. ...",4.070909,0.598068,2
4,4,قرمز كافيه - قهوة مختصة,4.1,956,2,coffee shop,"Cosy, Casual, Groups",['This coffee shop is a two story shop with a ...,4.059541,0.577904,4
5,5,Onza Cafee,4.0,179,2,coffee shop,none,"['Best Arabic coffee 👌', 'Very delicious arab...",3.997614,0.468071,5

In [248]:
shop_features_df=rating_popular_shops.pivot_table(index='shop_name', columns = 'index' , values='rating').fillna(0)
shop_features_df.head()

index,0,1,2,4,5,6,7,8,9,11,...,180,181,182,184,185,186,189,191,193,196
shop_name,,,,,,,,,,,,,,,,,,,,,
%10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Address Cafe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.1,0.0,0.0,0.0,0.0,0.0
Alchemy Coffee Roasters @ pattern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
Avindar Cafe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Balcony Cafe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [249]:
from scipy.sparse import csr_matrix

df_matrix = csr_matrix(shop_features_df.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [250]:
query_index = np.random.choice(shop_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(shop_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

77

In [251]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(shop_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, shop_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for White Foam Cafe:

1: STARBUCKS, with distance of 1.0:
2: RECIPE Cafe, with distance of 1.0:
3: Roma Cafe, with distance of 1.0:
4: Plateau Cafe, with distance of 1.0:
5: STARBUCKS (Drive Thru), with distance of 1.0: